@{
    ViewBag.Title = "حول الموقع";
}
<h2>@ViewBag.Title</h2>

<div >
    <h5 class="center">
        <p>

            عندنا رسالة مهمة جدا إننا نساعد الناس يحسنّوا حياتهم وظروفهم، بإننا نوفرلهم مكان على الإنترنت يقدروا يتبادلوا عليه السلع والخدمات ويعملوا صفقات ناجحة يزودوا بيها دخلهم، بشروط ترضي الطرفين، وشعارنا الكبير دايماً عشان نحقق رسالتنا "فيد واستفيد"
        </p>
     </h5>
</div>