@model IEnumerable<JobOfficerWebsite.Models.JobsViewModel>
    @foreach (var g in Model)
    {
        @g.JobTitle
        <table class="table table-bordered table-hover">
            <tr>
                <th>اسم الباحث</th>
                <th> نص الرسالة </th>
                <th> تاريخ الارسال</th>
            </tr>
            @foreach(var item in g.Items)
            {
                <tr>
                    <td>
                        @item.user.UserName
                    </td>
                    <td>
                        @item.Message
                    </td>
                    <td>
                        @item.ApplyDate
                    </td>
                </tr>
            }
        </table>
    }

